<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Leadtools.Codecs.Bmp.dll.NETStandard" version="20.0.0.2" targetFramework="monoandroid71" />
  <package id="Leadtools.Codecs.Bmp.dll.Xamarin.Android" version="20.0.0.2" targetFramework="monoandroid71" />
  <package id="Leadtools.Codecs.Cmp.dll.NETStandard" version="20.0.0.2" targetFramework="monoandroid71" />
  <package id="Leadtools.Codecs.Cmp.dll.Xamarin.Android" version="20.0.0.2" targetFramework="monoandroid71" />
  <package id="Leadtools.Codecs.Cmw.dll.NETStandard" version="20.0.0.2" targetFramework="monoandroid71" />
  <package id="Leadtools.Codecs.Cmw.dll.Xamarin.Android" version="20.0.0.2" targetFramework="monoandroid71" />
  <package id="Leadtools.Codecs.dll.NETStandard" version="20.0.0.2" targetFramework="monoandroid71" />
  <package id="Leadtools.Codecs.dll.Xamarin.Android" version="20.0.0.2" targetFramework="monoandroid71" />
  <package id="Leadtools.Codecs.Fax.dll.NETStandard" version="20.0.0.2" targetFramework="monoandroid71" />
  <package id="Leadtools.Codecs.Fax.dll.Xamarin.Android" version="20.0.0.2" targetFramework="monoandroid71" />
  <package id="Leadtools.Codecs.Gif.dll.NETStandard" version="20.0.0.2" targetFramework="monoandroid71" />
  <package id="Leadtools.Codecs.Gif.dll.Xamarin.Android" version="20.0.0.2" targetFramework="monoandroid71" />
  <package id="Leadtools.Codecs.J2k.dll.NETStandard" version="20.0.0.2" targetFramework="monoandroid71" />
  <package id="Leadtools.Codecs.J2k.dll.Xamarin.Android" version="20.0.0.2" targetFramework="monoandroid71" />
  <package id="Leadtools.Codecs.Jb2.dll.NETStandard" version="20.0.0.2" targetFramework="monoandroid71" />
  <package id="Leadtools.Codecs.Jb2.dll.Xamarin.Android" version="20.0.0.2" targetFramework="monoandroid71" />
  <package id="Leadtools.Codecs.Jbg.dll.NETStandard" version="20.0.0.2" targetFramework="monoandroid71" />
  <package id="Leadtools.Codecs.Jbg.dll.Xamarin.Android" version="20.0.0.2" targetFramework="monoandroid71" />
  <package id="Leadtools.Codecs.Png.dll.NETStandard" version="20.0.0.2" targetFramework="monoandroid71" />
  <package id="Leadtools.Codecs.Png.dll.Xamarin.Android" version="20.0.0.2" targetFramework="monoandroid71" />
  <package id="Leadtools.Codecs.Raw.dll.NETStandard" version="20.0.0.2" targetFramework="monoandroid71" />
  <package id="Leadtools.Codecs.Raw.dll.Xamarin.Android" version="20.0.0.2" targetFramework="monoandroid71" />
  <package id="Leadtools.Codecs.Tif.dll.NETStandard" version="20.0.0.2" targetFramework="monoandroid71" />
  <package id="Leadtools.Codecs.Tif.dll.Xamarin.Android" version="20.0.0.2" targetFramework="monoandroid71" />
  <package id="Leadtools.ColorConversion.dll.NETStandard" version="20.0.0.2" targetFramework="monoandroid71" />
  <package id="Leadtools.ColorConversion.dll.Xamarin.Android" version="20.0.0.2" targetFramework="monoandroid71" />
  <package id="Leadtools.Core.dll.NETStandard" version="20.0.0.2" targetFramework="monoandroid71" />
  <package id="Leadtools.dll.NETStandard" version="20.0.0.2" targetFramework="monoandroid71" />
  <package id="Leadtools.dll.Xamarin.Android" version="20.0.0.2" targetFramework="monoandroid71" />
  <package id="Leadtools.Drawing.dll.NETStandard" version="20.0.0.2" targetFramework="monoandroid71" />
  <package id="Leadtools.Drawing.dll.Xamarin.Android" version="20.0.0.2" targetFramework="monoandroid71" />
  <package id="Leadtools.Formats.Raster.Common.NETStandard" version="20.0.0.2" targetFramework="monoandroid71" />
  <package id="Leadtools.Image.Processing" version="20.0.0.2" targetFramework="monoandroid71" />
  <package id="Leadtools.Image.Processing.NETStandard" version="20.0.0.2" targetFramework="monoandroid71" />
  <package id="Leadtools.ImageProcessing.Color.dll.NETStandard" version="20.0.0.2" targetFramework="monoandroid71" />
  <package id="Leadtools.ImageProcessing.Color.dll.Xamarin.Android" version="20.0.0.2" targetFramework="monoandroid71" />
  <package id="Leadtools.ImageProcessing.Core.dll.NETStandard" version="20.0.0.2" targetFramework="monoandroid71" />
  <package id="Leadtools.ImageProcessing.Core.dll.Xamarin.Android" version="20.0.0.2" targetFramework="monoandroid71" />
  <package id="Leadtools.ImageProcessing.Effects.dll.NETStandard" version="20.0.0.2" targetFramework="monoandroid71" />
  <package id="Leadtools.ImageProcessing.Effects.dll.Xamarin.Android" version="20.0.0.2" targetFramework="monoandroid71" />
  <package id="Leadtools.ImageProcessing.Kernel.dll.NETStandard" version="20.0.0.2" targetFramework="monoandroid71" />
  <package id="Leadtools.ImageProcessing.Kernel.dll.Xamarin.Android" version="20.0.0.2" targetFramework="monoandroid71" />
  <package id="Leadtools.ImageProcessing.Utilities.dll.NETStandard" version="20.0.0.2" targetFramework="monoandroid71" />
  <package id="Leadtools.ImageProcessing.Utilities.dll.Xamarin.Android" version="20.0.0.2" targetFramework="monoandroid71" />
  <package id="Leadtools.Kernel.NETStandard" version="20.0.0.2" targetFramework="monoandroid71" />
  <package id="Leadtools.Svg.dll.NETStandard" version="20.0.0.2" targetFramework="monoandroid71" />
  <package id="Leadtools.Svg.dll.Xamarin.Android" version="20.0.0.2" targetFramework="monoandroid71" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Compat" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Core.UI" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Core.Utils" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Fragment" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Media.Compat" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="24.2.1" targetFramework="monoandroid70" />
</packages>